@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Allerta Stencil', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  text-align: center;
  min-height: 100vh;
  background: url(https://i.ibb.co/CHXz86T/hospital.jpg) no-repeat 0% 0%/cover;
}

html #endScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.452);
  text-transform: uppercase;
  cursor: pointer;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

html #endScreen .gameOver {
  margin: 10rem auto 0;
  width: 70%;
  line-height: 9rem;
  font-size: 5rem;
  background: rgba(0, 0, 0, 0.7);
  color: #c5c5c5;
  -webkit-box-shadow: 0 10px 15px black;
  box-shadow: 0 10px 15px black;
}

html #endScreen .youWin {
  margin: 7rem auto 0;
  width: 70%;
  line-height: 9rem;
  color: #3c00ff;
  background: rgba(255, 166, 0, 0.651);
  -webkit-box-shadow: 0 10px 15px black;
  box-shadow: 0 10px 15px black;
  font-size: 4rem;
  padding: 1rem;
  text-shadow: 4px 2px 1px rgba(211, 4, 4, 0.808);
}

html #endScreen .youWin span {
  color: #e90000;
  font-weight: bold;
  text-shadow: 3px 1px 1px rgba(0, 0, 0, 0.808);
}

html #start {
  margin: 2rem 2rem 0;
  padding: 1rem 2rem;
  background: rgba(252, 0, 0, 0.699);
  color: #eee;
  border-radius: 5px;
  border: 1px rgba(128, 0, 0, 0.404) solid;
  -webkit-box-shadow: 1px 1px 1px #333;
  box-shadow: 1px 1px 1px #333;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  -webkit-animation: shadow-pop-br 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: shadow-pop-br 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

html #start:active {
  -webkit-animation: shadow-back 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: shadow-back 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@-webkit-keyframes shadow-pop-br {
  0% {
    -webkit-box-shadow: 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb;
    box-shadow: 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }

  100% {
    -webkit-box-shadow: 1px 1px #bbb, 2px 2px #bbb, 3px 3px #bbb, 4px 4px #bbb, 5px 5px #bbb, 6px 6px #bbb, 7px 7px #bbb, 8px 8px #bbb;
    box-shadow: 1px 1px #bbb, 2px 2px #bbb, 3px 3px #bbb, 4px 4px #bbb, 5px 5px #bbb, 6px 6px #bbb, 7px 7px #bbb, 8px 8px #bbb;
    -webkit-transform: translateX(-8px) translateY(-8px);
    transform: translateX(-8px) translateY(-8px);
  }
}

@keyframes shadow-pop-br {
  0% {
    -webkit-box-shadow: 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb;
    box-shadow: 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }

  100% {
    -webkit-box-shadow: 1px 1px #bbb, 2px 2px #bbb, 3px 3px #bbb, 4px 4px #bbb, 5px 5px #bbb, 6px 6px #bbb, 7px 7px #bbb, 8px 8px #bbb;
    box-shadow: 1px 1px #bbb, 2px 2px #bbb, 3px 3px #bbb, 4px 4px #bbb, 5px 5px #bbb, 6px 6px #bbb, 7px 7px #bbb, 8px 8px #bbb;
    -webkit-transform: translateX(-8px) translateY(-8px);
    transform: translateX(-8px) translateY(-8px);
  }
}

@-webkit-keyframes shadow-back {
  0% {
    -webkit-box-shadow: 1px 1px #bbb, 2px 2px #bbb, 3px 3px #bbb, 4px 4px #bbb, 5px 5px #bbb, 6px 6px #bbb, 7px 7px #bbb, 8px 8px #bbb;
    box-shadow: 1px 1px #bbb, 2px 2px #bbb, 3px 3px #bbb, 4px 4px #bbb, 5px 5px #bbb, 6px 6px #bbb, 7px 7px #bbb, 8px 8px #bbb;
    -webkit-transform: translateX(-8px) translateY(-8px);
    transform: translateX(-8px) translateY(-8px);
  }

  100% {
    -webkit-box-shadow: 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb;
    box-shadow: 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
}

@keyframes shadow-back {
  0% {
    -webkit-box-shadow: 1px 1px #bbb, 2px 2px #bbb, 3px 3px #bbb, 4px 4px #bbb, 5px 5px #bbb, 6px 6px #bbb, 7px 7px #bbb, 8px 8px #bbb;
    box-shadow: 1px 1px #bbb, 2px 2px #bbb, 3px 3px #bbb, 4px 4px #bbb, 5px 5px #bbb, 6px 6px #bbb, 7px 7px #bbb, 8px 8px #bbb;
    -webkit-transform: translateX(-8px) translateY(-8px);
    transform: translateX(-8px) translateY(-8px);
  }

  100% {
    -webkit-box-shadow: 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb;
    box-shadow: 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
}

html #start:hover {
  -webkit-box-shadow: 1px 1px 1px #333, inset 0 0 0 40px #ff0000c5;
  box-shadow: 1px 1px 1px #333, inset 0 0 0 40px #ff0000c5;
  color: black;
  background: rgba(250, 136, 43, 0.966);
}

html #canvas {
  cursor: crosshair;
  border: none;
  border-top: 1px rgba(66, 0, 0, 0.561) solid;
  border-left: 1px rgba(66, 0, 0, 0.561) solid;
  background: linear-gradient(135deg, #ff00006b 0%, #ff0000da 100%);
  -webkit-box-shadow: 0 10px 15px black;
  box-shadow: 0 10px 15px black;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  height: 500px;
  width: 500px;
}

html #canvas .virus {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: var(--y);
  width: var(--x);
  --scaler: 1;
  -webkit-animation: virusAnim 14s forwards;
  animation: virusAnim 14s forwards;
}

html #canvas .virus:hover {
  --scaler: 1.05;
}

html #canvas .virus:active {
  --scaler: 0.95;
}

@-webkit-keyframes virusAnim {
  from {
    -webkit-transform: translate(0%, 0%) scale(var(--scaler));
    transform: translate(0%, 0%) scale(var(--scaler));
  }

  to {
    -webkit-transform: translate(var(--trX), var(--trY)) scale(var(--scaler));
    transform: translate(var(--trX), var(--trY)) scale(var(--scaler));
  }
}

@keyframes virusAnim {
  from {
    -webkit-transform: translate(0%, 0%) scale(var(--scaler));
    transform: translate(0%, 0%) scale(var(--scaler));
  }

  to {
    -webkit-transform: translate(var(--trX), var(--trY)) scale(var(--scaler));
    transform: translate(var(--trX), var(--trY)) scale(var(--scaler));
  }
}

html .scoreboard {
  color: #eee;
  padding-bottom: 1rem;
}

html .scoreboard .kills {
  font-size: 2rem;
}

html .scoreboard .kills #score {
  font-weight: bold;
  font-size: 3rem;
  color: #ff0000e1;
}

html .scoreboard .confinement {
  font-size: 1.6rem;
}

html .scoreboard .confinement #days {
  color: #ff0000e1;
}

/*# sourceMappingURL=style.css.map */